@font-face {
  font-family: 'Calibre';
  src: url('/fonts/Calibre-Regular.eot');
  src: url('/fonts/Calibre-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Calibre-Regular.svg#Calibre-Regular') format('svg'),
       url('/fonts/Calibre-Regular.ttf') format('truetype'),
       url('/fonts/Calibre-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre Semi';
  src: url('/fonts/Calibre-Semibold.eot');
  src: url('/fonts/Calibre-Semibold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Calibre-Semibold.svg#Calibre-Semibold') format('svg'),
       url('/fonts/Calibre-Semibold.ttf') format('truetype'),
       url('/fonts/Calibre-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sharp';
  src: url('/fonts/SharpGroteskBold20-Regular.eot');
  src: url('/fonts/SharpGroteskBold20-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/SharpGroteskBold20-Regular.svg#SharpGroteskBold20-Regular') format('svg'),
       url('/fonts/SharpGroteskBold20-Regular.ttf') format('truetype'),
       url('/fonts/SharpGroteskBold20-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sharp Comp';
  src: url('/fonts/SharpGroteskBold15-Regular.eot');
  src: url('/fonts/SharpGroteskBold15-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/SharpGroteskBold15-Regular.svg#SharpGroteskBold15-Regular') format('svg'),
       url('/fonts/SharpGroteskBold15-Regular.ttf') format('truetype'),
       url('/fonts/SharpGroteskBold15-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}